@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
html,
body,
#root,
.dboard,
.content {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
  padding-left: 10px;
}
.dboard {
  display: flex;
  position: relative;
  background-color: rgb(4, 4, 47);
}
::-webkit-scrollbar {
  width: 10px;
}
/*Track*/
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}
.topbar {
  /* padding-left: 150px; */
  position: fixed;
  top: 0;
  width: 80%;
  /* z-index: 1000; */
}
